        <link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            Codeial / Profile Page
        </h1>

        <p><%=profile.user.name %></p>
        <p><%= profile.user.email %></p>
